h3 {
	font-weight: 300
}

#gallery {
	overflow-x: auto;
	white-space:nowrap;
}

#hovertest {
	height: 500px;
}

img {
	margin: 10px;
	transition: 1s;
}

img:hover {
	transform:scale(1.2);
}

.axis { font: 14px sans-serif; }
.axis text {text-anchor: start}